@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Satisfy&display=swap');

:root {
  /* --red: rgb(65, 26, 3); */
  --primary:#f45e1d;
  --blue: #00b;
  --darkgray:#222;
  --lightgray:#999;
  --gold:#b7903c;
  --fullwidth: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
